.page {
  background-color: #EEF2F6;
}


.mainsidebar {
  transition: margin-left 0.3s ease;
}

.mainsidebar-closed {
  margin-left: 0;
}

.mainsidebar-open {
  margin-left: 16rem;
  /* Adjust according to the sidebar width */
}

/* MainContent.css */
.maincontent {
  transition: margin-left 0.3s ease;
}